div.listHolder{
    position: absolute;
    width: 50%;
}

div.listTitle {
    position: sticky;
    text-align: center;
    border-bottom: 2px solid #C0C0C0;
    font-size: 3vh;
}

div.list {
    position: absolute;
    left: 10%;
    right: 10%;
    height: 60vh;
    overflow: auto;
    border: solid 1px #C0C0C0;
}

div.content{
  position: relative;
  
}