div.listHolder{
    position: relative;
    width: 50%;
}

div.listTitle {
    position: relative;
    text-align: center;
    border-bottom: 2px solid #C0C0C0;
    font-size: 3vh;
}

div.description {
    position: absolute;
    left: 10%;
    right: 10%;
    height: 60vh;
    overflow: auto;
}

div.list {
    position: absolute;
    left: 10%;
    right: 10%;
    height: 60vh;
    overflow: auto;
    border: solid 1px #C0C0C0;
}

div.content {
    display: inline-block;
    position: relative;
    border-bottom: 1px solid #F0F0F0;
    font-size: 3.5vh;
    width: 100%;
}

img.thumb{
    width: 6vw;
    float: left;
    margin: 15px;
}

img.full {
    width: 18vw;
    float: left;
    margin: 10px;
}

img.fullArt {
    display: inline-block;
    width: 46%;
    float: left;
    margin: 2%;
}

@media screen and (max-width: 1080px) {
    div.listHolder {
        width: 100%;
        padding-bottom: 5vh;
    }

    div.description {
        position: relative;
        height: unset;
        width: 80%;
    }

    div.list {
        position: relative;
        height: 40vh;
        width: 80%;
    }
}