input {
    border-radius: 2vw;
    padding: 10px;
}
textarea {
    border-radius: 2vw;
    padding: 10px;
}
select {
    border-radius: 2vw;
    padding: 10px;
}
div.choice {
    margin-top: 15px;
    text-align: center;
}