body {
    margin: 0;
    font-family: sans-serif;
}

div.headerCountainer {
    position: fixed;
    width: 100%;
    height: 10vh;
    margin-bottom: 10vh;
    background-color: #FFFFFF;
}

img.icon {
    display: block;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

div.bodyCountainer {
    position: absolute;
    width: 100%;
    height: 84vh;
    top: 15vh;
    overflow: auto;
}

div.featureCountainer {
    display: inline-block;
    width: 100%;
    right: 2vw;
    left: 2vw;
}

div.buttonCountainer {
    display: inline-block;
    position: relative;
    text-align: center;
    animation: ease moveFromBottomAnim 3s;
    left: 50%;
    transform: translateX(-50%);
}

p.title {
    animation: ease fadeAnim 2s;
    font-family: 'Times New Roman', Times, serif;
    font-size: 5vh;
    text-align: center;
    color: #444444;
}

p.featureTitle {
    font-family: sans-serif;
    font-size: 150%;
    margin-left: 5vw;
    color: #444444;
}

p.description {
    font-family: sans-serif;
    font-size: 100%;
    margin-left: 5vw;
}

#startButton {
    width: 12vw;
    height: 8vw;
    background-color: #00FF00;
    color: #FFFFFF;
    font-size: 5vw;
    font-weight: bold;
    border-radius: 2vw;
    border: 0;
    box-shadow: 5px 5px 10px gray;
    -webkit-box-shadow: 5px 5px 10px gray;
    -moz-box-shadow: 5px 5px 10px gray;
}


@keyframes fadeAnim{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 100;
    }
}

@keyframes moveFromBottomAnim{
    0% {
        opacity: 0;
        bottom: -15vh;
    }
    100% {
        opacity: 100;
        bottom: 0vh;
    }
}

@media screen and (max-width: 480px) {
    img.icon {
        display: none;
    }
}