body {
    margin: 0;
    font-family: sans-serif;
}

div.headerCountainer {
    position: fixed;
    width: 100%;
    height: 10vh;
    margin-bottom: 10vh;
}

div.content {
    position: absolute;
    left: 10%;
    right: 10%;
    height: 60vh;
    overflow: auto;
    border: solid 1px #C0C0C0;
}

img.icon {
    display: block;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

div.bodyCountainer {
    position: absolute;
    width: 100%;
    height: 84vh;
    top: 11vh;
    overflow: auto;
}

div.featureCountainer {
    position: absolute;
    right: 2vw;
    left: 2vw;
    /* background-color: #ffd800; */
}

div.buttonCountainer {
    position: fixed;
    right: 2vw;
    left: 2vw;
    text-align: center;
    animation: ease moveFromBottomAnim 3s;
    bottom: 15vh;
}

p.title {
    animation: ease fadeAnim 2s;
    font-family: 'Times New Roman', Times, serif;
    font-size: 200%;
    text-align: center;
    color: #444444;
}

p.featureTitle {
    font-family: sans-serif;
    font-size: 150%;
    margin-left: 5vw;
    color: #444444;
}

p.description {
    font-family: sans-serif;
    font-size: 100%;
    margin-left: 5vw;
}

#startButton {
    width: 12vw;
    height: 8vw;
    background-color: #00FF00;
    color: #FFFFFF;
    font-size: 5vw;
    font-weight: bold;
    border-radius: 2vw
}


@keyframes fadeAnim{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 100;
    }
}

@keyframes moveFromBottomAnim{
    0% {
        opacity: 0;
        bottom: 5vh;
    }
    100% {
        opacity: 100;
        bottom: 15vh;
    }
}